@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*COLOR PALETTE*/
  --color-primary-light: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@layer utilities {
  .dark-pattern {
    background-image: url(./images/dark-pattern.svg);
    background-repeat: repeat;
  }

  .light-pattern {
    background-image: url(./images/light-pattern.svg);
    background-repeat: repeat;
  }
}
